.btn {
    background-color: var(--secodary-color);
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 0.5em;
    transition: 0.5s;
}

.btn:hover {
    color: var(--primary-color);
}